body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(245,245,245);
}

.list {

  background-color: #cccccc;

}

.listItem {
  padding: 10px;
  border-style: solid;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px dotted white;
}

.navbar {
  overflow: scroll;
  height: 900px;
}

.detailImage {
  border-right: 1px dotted black;
}

td {
  height: 20px;
  padding: 10px;
}

td:hover {
  background-color: #3399FF;
  color: white;
}

td.item > div {
  height: 80px;
}

input {
  width: 100%;
}
